body{
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: center;
	height: 100%;
}

img{
	display: block;
	width: 100%;
	height: 15em;
}

h1, h2, h3 {
	margin:0;
	padding:1em 0;
}

p {
	margin:0;
	padding: 1em 0;
}

.btn {
	display: inline-block;
	background: red;
	color: #fff;
	text-decoration: none;
	padding:1em;
	margin: .5em 0;
}

.btn:hover{
	background: blue;
	color: #fff;
}

/* Header Showcase */

#showcase {
	min-height: 450px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image {
	position: absolute;
	background-image:url('../img/img1.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: -1;
	opacity: 0.7;
	background-attachment: fixed;
}

#showcase .content-wrap #juggernaut {
	padding-top: 70px;
	padding-bottom: 0;
	font-size: 5em;
}

#showcase #definition {
	font-size: 1.7em;
	font-style: italic;
}

/* keep footer at bottom of page */
section {
	min-height: 100%;
}

main {
	overflow: auto;
	padding-bottom: 150px;
}

/* showcase */

#showcase .content-wrap,
#section-a .content-wrap {
	padding: 0 1.5em;
}

.card {
	background: #eaeaea;
	color: #333;
	margin-top: 35px;
}

/* Section A */

#section-a {
	background: #eaeaea;
	color: #333;
	padding-bottom: 2em;
}

/* Section B */

#section-b {
	padding: 2em 1em 1em;
}

#section-b ul {
	list-style: none;
	margin:0;
	padding:0;
}

.card-content {
	padding:1.5em;
}

/* Section C */

#section-c .content-wrap .bg-image {
	position: absolute;
	background-image:url('../img/img6.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	left: 0;
	z-index: -1;
	opacity: 0.7;
	background-attachment: fixed;
}

#section-c {
	color: #fff;
	padding:2em;
}

#section-c .content-wrap {
	/*margin-top: 50px;*/
}

/* Section D */

#section-d .box:first-child {
	background: transparent;/*#2690d4;*/

}

/* Footer */

footer #main-footer {
	position:relative;
	background: #000;
	height: 100px;
	margin-top: -80px;
	color: #fff;
	text-align: center;
	width: 100%;
	clear: both;
	/*padding:2em;*/
	/*padding-top: 100px;*/
}

#main-footer a {
	color: #2690d4;
	text-decoration: none;
}

/* Media Queries */

@media(max-width: 700px) {
	#showcase .content-wrap #juggernaut {
		font-size: 2.5em;
	}

	#showcase #definition {
		font-size: 1.2em;
	}
}

@media(min-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	#section-a .content-text {
		columns: 2;
		column-gap: 2em;
	}

	#section-a .content-text p {
		padding-top: 0;
	}


	.content-wrap,
	#section-b ul {
		grid-column: 2/4;
	}

	.box, #main-footer div {
		grid-column: span 2;
	}

	#section-b ul {
		display: flex;
		justify-content: space-around;
	}

	#section-b li {
		width: 31%;
	}
}